body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 8% 0% 85%;
    overflow: hidden;
    position: fixed;
    background: #131313;
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

@media screen and (max-width: 530px) {
    body {
        grid-template-rows: 7% 8% 0% 85%;
    }
    #searchBoxSpan {
        display: flex !important;
    }
  }

#searchBoxSpan {
    background-color: white;
    border: black 5px;
    border-radius: 5px;
    display: inline-flex;
    width: fit-content;
    height: 20px;
    padding: 3px;
    margin-bottom: 10px;
}

#searchOptions {
    margin-left: 10px;
}

#subreddit {
    cursor: pointer;
    border: none;
    transition: 250ms;
    text-align: center;
    margin-top: 2px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: scroll;
    width: 100%;
}

#content div {
    border-radius: 8px;
    height: auto;
    width: 250px;
}

img {
    width: 250px;
    height: auto;
    border-radius: 12px;
    transition: 200ms;
}

img:not(.fullscreen-image):not(.fullscreen-gif img):hover {
    border-radius: 0px;
    transform: scale(1.2);
}
/* img:active {
    border-radius: 0px;
    transform: scale(5);
    filter: blur(0px);
} */

#similar-subreddits {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 0px;
}

input {
    border-radius: 8px;
    height: auto;
}

#fetch, #fetch-random, #fetch-user, #filters {
    cursor: pointer;
    transition: 250ms;
    width: 30px;
    height: 100%;
    text-align: center;
    background-color: white;
    color: black;
    border: none;
}

#fetch:hover, #fetch-random:hover, #fetch-user:hover, #filters:hover {
    transform: scale(110%, 110%);
}

.searchButtonIcon {
    padding: 0;
    margin: 0;
}

#filtersmodal {
    border-radius: 5px;
}

#filtersmodal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.post {
    margin: 10px;
    padding: 10px;
    border: solid 2px black;
    overflow: auto;
}
.similarsub {
    margin-right: 10px;
}

.upABit {
    transform: translate(10px,-10px) scale(50%, 50%);
}

.downATinyBit {
    transform: translate(0px,2px);
}

.nsfw {
    /* blur it */
    filter: blur(20px);
}

.object-and-details {
    display: inline-block;
    position: relative;
  }
  
  summary {
    color: #fff;
    background: #000;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
    border-radius: 50%;
    background-image: url("https://assets.codepen.io/128034/play_circle_filled-24px.svg");
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
  }
  
  [open] summary {
    background-image: url("https://assets.codepen.io/128034/pause_circle_filled-24px.svg");
    box-shadow: 0 0 0 2px #fff;
    background-color: white;
  }
  
  /* for blink/webkit */
  details summary::-webkit-details-marker {
    display: none;
  }
  /* for firefox */
  details > summary:first-of-type {
    list-style: none;
  }
  
  summary + * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    padding-top: 3rem;
    background: #000;
    color: #fff;
    overflow-y: auto;
  }
  
  summary + * a {
    color: #fff;
  }
  summary:focus {
    box-shadow: 0 0 0 0.25rem #aade87;
    outline: transparent;
  }
  
  .object-and-details1 img {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: visible;
  }

.fullscreen-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* set the width and height keeping the aspect ratio of the image */
    width: auto;
    height: 100vh;
    
    z-index: 10000;
}

/* image in fullscreen gif */
.fullscreen-gif img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* set the width and height keeping the aspect ratio of the image */
    width: auto;
    height: 100vh;

    z-index: 10000;
}

.video {
    /* just make the video fit */
    width: 100%;
    height: 100%;

    
}

.blur {
    filter: blur(20px);
}