body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 8% 0% 85%;
    overflow: hidden;
    background: #131313;
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

#searchBoxSpan {
    background-color: white;
    border: black 5px;
    border-radius: 5px;
    display: inline-flex;
    width: fit-content;
    height: 20px;
    padding: 3px;
    margin-bottom: 10px;
}

#searchOptions {
    margin-left: 10px;
}

#subreddit {
    cursor: pointer;
    border: none;
    transition: 250ms;
    text-align: center;
    margin-top: 2px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: scroll;
    width: 100%;
}

#content div {
    border-radius: 8px;
    height: auto;
    width: 250px;
}

img {
    width: 250px;
    height: auto;
    border-radius: 12px;
    transition: 200ms;
}

img:hover {
    border-radius: 0px;
    transform: scale(1.2);
}
img:active {
    border-radius: 0px;
    transform: scale(5);
}

#similar-subreddits {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 0px;
}

input {
    border-radius: 8px;
    height: auto;
}

#fetch, #fetch-random, #fetch-user, #filters {
    cursor: pointer;
    transition: 250ms;
    width: 30px;
    height: 100%;
    text-align: center;
    background-color: white;
    color: black;
    border: none;
}

#fetch:hover, #fetch-random:hover, #fetch-user:hover, #filters:hover {
    transform: scale(110%, 110%);
}

.searchButtonIcon {
    padding: 0;
    margin: 0;
}

#filtersmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#filtersmodalcontent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.post {
    margin: 10px;
    padding: 10px;
    border: solid 2px black;
}
.similarsub {
    margin-right: 10px;
}

.upABit {
    transform: translate(10px,-10px) scale(50%, 50%);
}

.downATinyBit {
    transform: translate(0px,2px);
}